@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.button {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 4px;
    place-content: center;
    place-items: center;
    padding: 8px 16px;
    height: 36px;
    width: 100%;
    border: none;
    border-radius: 12px;
    color: $white;
    font-size: 16px;
    z-index: 10;
    background: transparent;

    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;

    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        filter: brightness(0.5);
    }

    &:disabled {
        cursor: not-allowed;
        filter: brightness(0.5);
    }
}

.buttonPrimary {
    background: linear-gradient(45deg, $color-red, #000);
}

.buttonSwitch {
    border: 2px solid $color-gray2;
    color: $color-gray2;
}

.buttonOutline {
    border: 2px solid $accent;
    color: $accent;
}