@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

$glass-bg-color: rgba(255, 255, 255, 0.1);
$glass-highlight: rgba(255, 255, 255, 0.5);

.messageForm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: grid;
    justify-items: center;
    align-content: center;
    z-index: 9999;
    overflow: hidden;
    background: transparent;

    .content {
        position: relative;
        z-index: 2;
        width: 74%;
        max-width: 300px;
        max-height: 268px;
        padding: 2rem;
        border-radius: 24px;
        cursor: move;
        background: transparent;
        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);

        .glassFilter {
            position: absolute;
            inset: 0;
            z-index: 0;
            border-radius: inherit;
            -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
            filter: url(#lg-dist);
            isolation: isolate;
            pointer-events: none;
        }

        .glassOverlay {
            position: absolute;
            inset: 0;
            border-radius: inherit;
            z-index: 1;
            background: $glass-bg-color;
            pointer-events: none;
        }

        .glassSpecular {
            position: absolute;
            inset: 0;
            z-index: 2;
            border-radius: inherit;
            overflow: hidden;
            box-shadow:
                inset 1px 1px 0 $glass-highlight,
                inset 0 0 5px $glass-highlight;
            pointer-events: none;
        }

        .title {
            position: relative;
            color: #fff;
        }

        .textarea {
            position: relative;
            display: grid;
            width: 100%;
            color: #fff;
            animation: mess 3s cubic-bezier(0, 0, 0.5, 1) infinite;
        }
    }
}