@use './variables' as *;
@use './mixins' as *;
@use './animations';

/* Reset and base styles  */
* {
    font-family:
        'Lato',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    margin: 0px;
    padding: 0px;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-weight: 700;
}

/* Links */

// Убираем стандартный outline у интерактивных элементов
button,
a,
input[type='button'],
input[type='submit'],
input[type='reset'] {
    @include interactive-behavior;

    &:focus {
        outline: none;
        // Если хотите кастомный фокус для доступности, определите его отдельно
        // &:focus-visible { outline: 2px solid blue; } // Пример кастомного видимого фокуса
    }

    &:active {
        // Убираем потенциальные стили активации, если они есть
        outline: none;
        box-shadow: none;
    }
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: $white;
}

a:hover {
    text-decoration: none;
}

/* Common */

body {
    width: 100%;
    min-height: 100vh;
    color: #000;
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

textarea {
    outline: none;
    border: none;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

input::-ms-clear {
    display: none;
}

button,
input[type='submit'] {
    display: inline-block;
    background: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

:root {
    --color-red: #{$color-red};
    --color-orange: #{$color-orange};
    --color-yellow: #{$color-yellow};
    --color-green: #{$color-green};

    --staggered-delay: 0.15s;
    --staggered-opacity-duration: 0.9s;
    --staggered-translate-y: 30px;
    --staggered-translate-y-duration: 0.7s;
}