@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.layout {
    position: relative;
    justify-items: center;
    z-index: 0;
    display: grid;
    justify-content: center;
    align-content: center;

    .content {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0 8px;
        border-radius: 48px;
        z-index: 2;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}