@use '@/shared/styles/animations';
@use '@/shared/styles/mixins' as *;
@use '@/shared/styles/variables' as *;

.layout {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    justify-items: center;
    z-index: 0;
    display: grid;
    background-color: #000;
    // background-image: url('/2.jpg');
    // background-repeat: no-repeat;
    // background-position: bottom;
    // background-size: contain;
    // background-attachment: fixed;

    .content {
        position: relative;
        width: 100%;
        height: auto;
        padding: 0 8px;
        border-radius: 48px;
        z-index: 2;

        &::-webkit-scrollbar {
            display: none;
        }

        .bgImage {
            position: fixed; // позиционируем поверх контейнера
            bottom: 0; // приклеиваем к низу
            left: 50%; // центр по горизонтали
            transform: translateX(-50%); // корректируем смещение для центрирования
            width: 80%; // нужная ширина изображения
            max-width: 300px;
            height: auto; // сохраняем пропорции
            object-fit: contain; // сохраняем пропорции
            z-index: -1;

            @media (min-width: 512px) {
                max-width: 500px;
            }
        }
    }
}